*{
    padding: 0;
    margin:0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* color: red; */
    /* border: 1px solid black; */
}
body{
    background: rgba(128, 128, 128, 0.153);
}
header h1{
    text-align: center;
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content;
    padding: 25px;
    margin-top: 25px;
}
header input{
    margin: 20px;
    text-transform: lowercase;
    padding: 10px;
    border-radius: 5px;
}
header button{
    padding: 10px;
    width: 80px;
    margin: 10px;
    border-radius: 10px;
    border: 0.5px solid grey;
    /* outline: none; */
}
#clr{
    background-color: rgb(226, 99, 99);
    border: none;
}
#del{
    position: absolute;
    top:0;
    margin-top: 45px;
    /* padding: 25px; */
    /* float: right; */
    right: 0;
    background: rgb(0, 0, 0, 0.2);
    border: 0.2px solid rgba(0, 0, 0, 0.215);

}